
/* BOXED SKIN
================================*/
@media (min-width: 992px) {
  .navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-icon-item):not(.navigation-avatar-item):not(.navigation-logo) .navigation-link {
    z-index: 1;
  }
  .navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-icon-item):not(.navigation-avatar-item):not(.navigation-logo) .navigation-link:after {
    content: "";
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    z-index: -1;
    transition: color 0.3s, background 0.3s;
  }
  .navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-icon-item):not(.navigation-avatar-item):not(.navigation-logo):not(.navigation-brand-text):hover .navigation-link,
  .navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-icon-item):not(.navigation-avatar-item):not(.navigation-logo):not(.navigation-brand-text):focus .navigation-link,
  .navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-icon-item):not(.navigation-avatar-item):not(.navigation-logo):not(.navigation-brand-text).is-active .navigation-link {
    color: #fff;
  }
  .navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-icon-item):not(.navigation-avatar-item):not(.navigation-logo):not(.navigation-brand-text):hover .navigation-link:after,
  .navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-icon-item):not(.navigation-avatar-item):not(.navigation-logo):not(.navigation-brand-text):focus .navigation-link:after,
  .navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-icon-item):not(.navigation-avatar-item):not(.navigation-logo):not(.navigation-brand-text).is-active .navigation-link:after {
    background-color: #7367F0 !important;
  }
  .navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-icon-item):not(.navigation-avatar-item):not(.navigation-logo):not(.navigation-brand-text):hover > .navigation-link > .submenu-indicator:after,
  .navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-icon-item):not(.navigation-avatar-item):not(.navigation-logo):not(.navigation-brand-text):focus > .navigation-link > .submenu-indicator:after,
  .navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-icon-item):not(.navigation-avatar-item):not(.navigation-logo):not(.navigation-brand-text).is-active > .navigation-link > .submenu-indicator:after {
    border-color: transparent #fff #fff transparent;
  }
}
